version: '3.8'

services:
    db:
        image: postgres:latest
        volumes:
            - db_data:/var/lib/postgresql/data
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        ports:
            - "5432:5432"

    backend:
        build: ./backend
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - ./backend:/app
        ports:
            - "8000:8000"
        depends_on:
            - db
        environment:
            PRODUCTION: true
            DATABASE_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
            SECRET_KEY: ${DJANGO_SECRET_KEY}

volumes:
    db_data:
